[submodule "edk2"]
	path = uefi/edk2
	url = https://github.com/tianocore/edk2.git
[submodule "trusted-firmware-a"]
	path = tf-a/trusted-firmware-a
	url = https://github.com/ARM-software/arm-trusted-firmware.git
[submodule "qemu"]
	path = common/qemu
	url = https://github.com/qemu/qemu.git
